body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    font-size: 40px;
}
div{
    border: 1px white solid;
    text-align: center;
    width:100%;

}
button {
    background-color: rgb(0, 135, 29);
    padding: 5px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-2{
    display: none;
}